In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('uber_data.csv')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  object
 2   tpep_dropoff_datetime  100000 non-null  object
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   RatecodeID             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 14.5+ MB

In [5]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   RatecodeID             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 14.5+ MB

In [7]:
datetime_dimension = df[['tpep_pickup_datetime', 'tpep_dropoff_datetime']].drop_duplicates().reset_index(drop=True)
datetime_dimension['date'] = datetime_dimension['tpep_pickup_datetime'].dt.date
datetime_dimension['day'] = datetime_dimension['tpep_pickup_datetime'].dt.day
datetime_dimension['month'] = datetime_dimension['tpep_pickup_datetime'].dt.month
datetime_dimension['year'] = datetime_dimension['tpep_pickup_datetime'].dt.year
datetime_dimension['hour'] = datetime_dimension['tpep_pickup_datetime'].dt.hour
datetime_dimension['minute'] = datetime_dimension['tpep_pickup_datetime'].dt.minute
datetime_dimension['weekday'] = datetime_dimension['tpep_pickup_datetime'].dt.weekday
datetime_dimension['quarter'] = datetime_dimension['tpep_pickup_datetime'].dt.quarter
datetime_dimension['is_weekend'] = datetime_dimension['weekday'].apply(lambda x: 1 if x >= 5 else 0)
datetime_dimension['is_weekday'] = datetime_dimension['weekday'].apply(lambda x: 1 if x < 5 else 0)

datetime_dimension = datetime_dimension[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'date', 'day', 'month', 'year', 'hour', 'minute', 'weekday', 'quarter', 'is_weekend', 'is_weekday']]

In [8]:
datetime_dimension.to_csv('datetime_dimension.csv', index=False)

In [9]:
datetime_dimension.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,date,day,month,year,hour,minute,weekday,quarter,is_weekend,is_weekday
0,2016-03-01 00:00:00,2016-03-01 00:07:55,2016-03-01,1,3,2016,0,0,1,1,0,1
1,2016-03-01 00:00:00,2016-03-01 00:11:06,2016-03-01,1,3,2016,0,0,1,1,0,1
2,2016-03-01 00:00:00,2016-03-01 00:31:06,2016-03-01,1,3,2016,0,0,1,1,0,1
3,2016-03-01 00:00:00,2016-03-01 00:00:00,2016-03-01,1,3,2016,0,0,1,1,0,1
4,2016-03-01 00:00:01,2016-03-01 00:16:04,2016-03-01,1,3,2016,0,0,1,1,0,1

In [10]:
passenger_count_dimension = df[['passenger_count']].drop_duplicates().reset_index(drop=True)
passenger_count_dimension['passenger_count_id'] = passenger_count_dimension.index + 1
passenger_count_dimension = passenger_count_dimension[['passenger_count_id', 'passenger_count']]

trip_distance_dimension = df[['trip_distance']].drop_duplicates().reset_index(drop=True)
trip_distance_dimension['trip_distance_id'] = trip_distance_dimension.index + 1
trip_distance_dimension = trip_distance_dimension[['trip_distance_id', 'trip_distance']]

In [11]:
passenger_count_dimension.to_csv('passenger_count_dimension.csv', index=False)
trip_distance_dimension.to_csv('trip_distance_dimension.csv', index=False)

In [12]:
passenger_count_dimension.head()

   passenger_count_id  passenger_count
0                   1                1
1                   2                2
2                   3                3
3                   4                5
4                   5                6

In [13]:
trip_distance_dimension.head()

   trip_distance_id  trip_distance
0                 1           2.50
1                 2           2.90
2                 3          19.98
3                 4          10.78
4                 5          30.43

In [14]:
rate_code_dimension = df[['RatecodeID']].drop_duplicates().reset_index(drop=True)
rate_code_dimension['rate_code_id'] = rate_code_dimension.index + 1
rate_code_dimension = rate_code_dimension[['rate_code_id', 'RatecodeID']]
rate_code_dimension = rate_code_dimension.rename(columns={'RatecodeID': 'rate_code'})
rate_code_dimension['rate_code'] = rate_code_dimension['rate_code'].astype(str)
rate_code_dimension['rate_code'] = rate_code_dimension['rate_code'].replace(
    {
        '1': 'Standard rate', '2': 'JFK', '3': 'Newark', '4': 'Nassau or Westchester', '5': 'Negotiated fare', '6': 'Group ride'
    })


rate_code_dimension['rate_code_name'] = rate_code_dimension['rate_code'].map(lambda x: x.split(' ')[0])
store_and_fwd_flag_dimension = df[['store_and_fwd_flag']].drop_duplicates().reset_index(drop=True)
store_and_fwd_flag_dimension['store_and_fwd_flag_id'] = store_and_fwd_flag_dimension.index + 1
store_and_fwd_flag_dimension = store_and_fwd_flag_dimension[['store_and_fwd_flag_id', 'store_and_fwd_flag']]
store_and_fwd_flag_dimension = store_and_fwd_flag_dimension.rename(columns={'store_and_fwd_flag': 'store_and_fwd_flag_name'})
store_and_fwd_flag_dimension['store_and_fwd_flag_name'] = store_and_fwd_flag_dimension['store_and_fwd_flag_name'].replace({'N': 'No', 'Y': 'Yes'})

In [15]:
rate_code_dimension.to_csv('rate_code_dimension.csv', index=False)

In [16]:
rate_code_dimension.head()

   rate_code_id              rate_code rate_code_name
0             1          Standard rate       Standard
1             2                 Newark         Newark
2             3                    JFK            JFK
3             4        Negotiated fare     Negotiated
4             5  Nassau or Westchester         Nassau

In [17]:
payment_type_dimension = df[['payment_type']].drop_duplicates().reset_index(drop=True)
payment_type_dimension['payment_type_id'] = payment_type_dimension.index + 1
payment_type_dimension = payment_type_dimension[['payment_type_id', 'payment_type']]

In [18]:
payment_type_dimension.to_csv('payment_type_dimension.csv', index=False)

In [19]:
payment_type_dimension.head()

   payment_type_id  payment_type
0                1             1
1                2             2
2                3             3
3                4             4

In [20]:
vendor_id_dimension = df[['VendorID']].drop_duplicates().reset_index(drop=True)
vendor_id_dimension['vendor_id'] = vendor_id_dimension.index + 1
vendor_id_dimension = vendor_id_dimension[['vendor_id', 'VendorID']]
vendor_id_dimension = vendor_id_dimension.rename(columns={'VendorID': 'vendor_name'})
vendor_id_dimension['vendor_name'] = vendor_id_dimension['vendor_name'].replace({'1': 'Creative Mobile Technologies', '2': 'VeriFone Inc'})

In [30]:
fact_table = df.merge(passenger_count_dimension, on='passenger_count') \
    .merge(trip_distance_dimension, on='trip_distance') \
    .merge(payment_type_dimension, on='payment_type') \
    [['VendorID', 'passenger_count_id',
      'trip_distance_id', 'RatecodeID',
      'payment_type_id', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
      'improvement_surcharge', 'total_amount']]

fact_table = fact_table.rename(columns={'VendorID': 'vendor_id', 'RatecodeID': 'rate_code_id', 'total_amount': 'amount'})

In [31]:
fact_table.head()

,vendor_id,passenger_count_id,trip_distance_id,rate_code_id,payment_type_id,fare_amount,extra,mta_tax,tip_amount,improvement_surcharge,amount
0,1,1,1,1,1,9.0,0.5,0.5,2.05,0.3,12.35
1,2,1,1,1,1,10.5,0.0,0.5,2.26,0.3,13.56
2,2,1,1,1,1,9.5,0.0,0.5,1.25,0.3,11.55
3,2,1,1,1,1,13.5,0.0,0.5,2.00,0.3,16.30
4,2,1,1,1,1,10.5,0.0,0.5,2.26,0.3,13.56